p {
	color:whitesmoke font.8pt sans-serif; 
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 20px;
	text-align:center;	
}
h3 {
	color:whitesmoke;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align:center;
  background-color:black;
} 

h1  { 
	color:darkturquoise;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align:center;
	text-decoration: wavy;
	background-image:url(https://static.nationalgeographicla.com/files/styles/image_3200/public/1240.webp?w=1190&h=894&q=100);
} 
span {
	color:whitesmoke;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 20px;	
}
h2 {
	text-align:center;
	color:whitesmoke;
  background-color:black;
}
h4 {
	text-align:justify;
	color:white;
	font-size: 20px;
	border-color: bisque;
	border-block-end-style: auto;
  background-color:black;
}
button {
	align-content: center;
	width: 20ch; height: 30px;
	border-bottom-right-radius: 20px;
	border-radius: 20px;
	text-shadow: 15px;
	position: relative;
	background-size: width:46px; height: 38px;
	color: white;
  background-image: url(https://i.pinimg.com/564x/09/44/7f/09447f37c17fa1ba1912e1d0c189536c.jpg);
}

legend {
	color:whitesmoke;
    background-color:black;
  width: 440px;
  
}
body {
	background-image:url(https://i.pinimg.com/564x/09/44/7f/09447f37c17fa1ba1912e1d0c189536c.jpg);
	img text-size-adjust: center;

	}
	article { font-family:Cambria, Cochin, Georgia, Times, 'Times New , serif;
		color:whitesmoke;
		text-align:center;
		font-size: 20px;
	}
* {
  font-family: 'Style Script', cursive;
}
ul {
    background-color:black;
 color:white;
  width: 400px;
  
} 

